body{
    margin: 0;
}

.title {
    background-color: cornflowerblue;
    size: 50vh;
    color:yellow;
    justify-content: center;
    align-items: center;
}

.content {
    size: 25%;
    background-color: green;
    color: red;
}